

SMTP_HOST="server-smtp.com"
SMTP_NAME="Prenom NOM"
SMTP_USERNAME="prenom.nom@ik.me"
SMTP_PASSWORD="your-password"
SMTP_PORT=465

DATABASE_HOST="localhost"
DATABASE_NAME="dbname"
DATABASE_USER="root"
DATABASE_PASSWORD="your-password"
DATABASE_PORT=3306
DATABASE_DIALECT="mysql"
